/*::ng-deep .mat-form-field-underline {
    display: none;
}
*/

::ng-deep .mat-form-field-required-marker {
    display: none
}

.info {
    text-align: center;
    padding-top: 5em;
}

.input {
    width: 100%;
}

.login-title {
    margin-bottom: 4em;
}

.mat-card-title {
    font-weight: 600;
}

.mat-form-field {
    margin-bottom: 0.5em;
}

.submit-button {
    margin-top: 1.5em;
    width: 100%;
}

a:link, a:active, a:hover, a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

