<auth-layout>
    <div id="form-container">
        <div class="center-content" id="auth-title">
            <h1>{{ 'login-form.title' | translate }}</h1>
           
            <div class="center-content" id="spinner-container">
                <mat-spinner [diameter]="20" *ngIf="isRequestPending"></mat-spinner>
                <mat-error *ngIf="!isSuccess">
                    {{ errorMsg }}
                </mat-error>  
            </div>
        </div>

        <div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="input-container">   
                    <mat-form-field class="input">
                        <mat-label>{{ 'account.username' | translate }}</mat-label>
                        <input type="text" matInput formControlName="username">
                        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                            {{ 'login-form.errors.username' | translate }}
                        </mat-error> 
                    </mat-form-field> 
                </div>
                <div class="input-container">
                    <mat-form-field class="input">
                        <mat-label>{{ 'account.password' | translate }}</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                            {{ 'login-form.errors.password' | translate }}
                        </mat-error> 
                    </mat-form-field>
                </div>     
                <button mat-raised-button color="primary" type="submit" class="submit-button" [disabled]="isRequestPending">{{ 'login-form.button' | translate }}</button> 
            </form>      
        </div>

        <div id="info">{{ 'login-form.account-question' | translate }}</div>
        <div class="center-content">
            <a routerLink="/register">{{ 'login-form.register-link' | translate }}</a>
        </div>
        
    </div>
</auth-layout>