
::ng-deep .mat-form-field-required-marker {
    display: none
}

::ng-deep .mat-checkbox-inner-container:hover .mat-checkbox-persistent-ripple {
    display: none;
}


#info {
    text-align: center;
    padding-top: 3em;
}


.checkbox-position {
    width: 16px;
    height: 16px;
    float: left;
}

.checkbox-label {
    width: calc(100% - 16px - 0.5em);
    font-size: small;
    text-align: left;
    white-space: normal;
    padding-left: 0.5em;
    margin-top: 1em;
    margin-left: 16px;
}

.error-asterisk {
    color: red;
}

.mat-checkbox {
    box-shadow: none !important;
}