<auth-layout>
    <div id="form-container">
        <div class="center-content" id="auth-title">
            <h1>{{ 'registration-form.title' | translate }}</h1>
        </div>

        <div>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="input-container">
                    <mat-form-field class="input" >
                        <mat-label>{{ 'account.username' | translate }}</mat-label>
                        <input type="text" matInput formControlName="username">
                        <mat-error *ngIf="username?.hasError('pattern')">
                            {{ 'registration-form.errors.username.pattern' | translate }}
                        </mat-error> 
                        <mat-error *ngIf="username?.hasError('nonuniqueUsername')">
                            {{ 'registration-form.errors.username.nonunique' | translate }}
                        </mat-error> 
                        <mat-error *ngIf="username?.hasError('required')">
                            {{ 'registration-form.errors.username.required' | translate }}
                        </mat-error> 
                    </mat-form-field> 
                </div>

                <div class="input-container">
                    <mat-form-field class="input" >
                        <mat-label>{{ 'account.email' | translate }}</mat-label>
                        <input type="email" matInput formControlName="email">
                        <mat-error *ngIf="email?.hasError('email')">
                            {{ 'registration-form.errors.email.invalid-format' | translate }}
                        </mat-error> 
                        <mat-error *ngIf="email?.hasError('required')">
                            {{ 'registration-form.errors.email.required' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="input-container">
                    <mat-form-field class="input" >
                        <mat-label>{{ 'account.password' | translate }}</mat-label>
                        <input type="password" matInput formControlName="password"> 
                        <mat-error *ngIf="password?.hasError('minlength')">
                            {{ 'registration-form.errors.password.min-length' | translate }}
                        </mat-error> 
                        <mat-error *ngIf="password?.hasError('maxlength')">
                            {{ 'registration-form.errors.password.max-length' | translate }}
                        </mat-error>
                        <mat-error *ngIf="password?.hasError('required')">
                            {{ 'registration-form.errors.password.required' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div> 

                <div class="input-container">
                    <mat-form-field class="input" >
                        <mat-label>{{ 'registration-form.password-repetition' | translate }}</mat-label>
                        <input type="password" matInput formControlName="passwordRepetition">
                        <mat-error *ngIf="passwordRepetition?.hasError('passwordMatchError')">
                            {{ 'registration-form.errors.password-repetition.different' | translate }}
                        </mat-error> 
                        <mat-error *ngIf="passwordRepetition?.hasError('required')">
                            {{ 'registration-form.errors.password-repetition.required' | translate }}
                        </mat-error> 
                    </mat-form-field>
                </div>   

                <div>
                    <div class="checkbox-position">
                        <mat-checkbox formControlName="acceptTerms" [disableRipple]="true"></mat-checkbox> 
                    </div>
                    <div class="checkbox-label">{{ 'registration-form.accept-checkbox.accept' | translate }}<a routerLink="/register"> {{ 'registration-form.accept-checkbox.terms' | translate }}</a> {{ 'registration-form.accept-checkbox.and' | translate }} <a routerLink="/register">{{ 'registration-form.accept-checkbox.privacy-policy' | translate }}</a>.<span
                        *ngIf="acceptTerms?.touched && acceptTerms?.hasError('required')" class="error-asterisk">*</span></div> 
                    <button mat-raised-button color="primary" type="submit" class="submit-button">{{ 'registration-form.button' | translate }}</button> 
                </div>
            </form>
        </div>

        <div id="info">{{ 'registration-form.account-question' | translate }}</div>
        <div class="center-content">
            <a routerLink="/login">{{ 'registration-form.login-link' | translate }}</a>
        </div>
    </div>
</auth-layout>
