.confirmation { 
    width: 100% !important;
}

.label {
    opacity: 0.6;
    font-size: 0.8em;
}

@media (max-width: 767px ) {
    .mat-expansion-panel-header {
        min-height: 2.5em;
        height: 100% !important;
    }
}