#answer-row {
    margin-top: 0.5em;
}

#quiz-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.failed-icon {
    color: var(--error);
}

.label {
    color: var(--primary-green);
    font-size: smaller;
    width: 100%;
}

.status-icon {
    align-self: end;
    height: 24px;
}

.success-icon {
  color: var(--primary-green);
}

.status-info {
    display: flex;
    align-self: center;
}

@media (max-width: 767px ) {
    #check-button {
        width: 100%;
    }
    
    #ga-button {
        margin-top: 0.5em;
        width:100%;
    }
    
}

@media ( min-width: 768px ) and ( max-width: 991px ) {
    #check-button {
        width: 40%;
    }
    
    #ga-button {
        margin-left: 5%;
        width: 55%;
    }
    
}

@media (min-width: 992px ) {
    #check-button {
        width: 40%;
    }
    
    #ga-button {
        margin-left: 5%;
        width: 55%;
    }
    
}