<mat-toolbar *ngIf="!isLoading" class="mat-elevation-z4"  color="primary">
    <div class="logo">
        <a mat-button (click)="onLogoClick()">
            <img src="..\..\assets\img\navbar_logo.png" alt="logo image">
            <img id="logo-title" src="..\..\assets\img\parrot_title.png" alt="logo title">
        </a>
    </div>

    <div id="navigations" (wheel)="onWheel($event)">
        <div *ngFor="let link of activeLinks" >
            <a mat-button (click)="onNavigationClick(link)">
                <span>{{ link.header }}</span> 
            </a>  
        </div>
    </div>

    <span class="spacer"></span>

    <span *forRoles="[USER_ROLE]">
        <span class="language-choose">{{ 'navbar.from' | translate }}:</span>
        <a mat-button class="language-choose" [matMenuTriggerFor]="languageFromChoose">
            <span>{{currentLangs?.languageFrom?.name}}</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </a> 
    
        <span class="lang-spacer"></span>

        <span class="language-choose">{{ 'navbar.to' | translate }}:</span>
        <a mat-button class="language-choose" [matMenuTriggerFor]="languageToChoose">
            <span>{{currentLangs?.languageTo?.name}}</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </a> 
    </span>

    <div>
        <a mat-button [matMenuTriggerFor]="userAccount" id="user-button">
            <mat-icon class="person-icon">person</mat-icon>
            <span>{{username}}</span> 
        </a> 
    </div>
</mat-toolbar>

<mat-menu #languageFromChoose="matMenu" class="language-panel">
    <ng-template matMenuContent>
        <button mat-menu-item *ngFor="let lang of languages" (click)="onLanguageChoose(lang, 'from')">{{lang.name}}</button>
    </ng-template>
</mat-menu>

<mat-menu #languageToChoose="matMenu" class="language-panel">
    <ng-template matMenuContent>
        <button mat-menu-item *ngFor="let lang of languages" (click)="onLanguageChoose(lang, 'to')">{{lang.name}}</button>
    </ng-template>
</mat-menu>

<mat-menu #userAccount="matMenu" class="details-panel" color="primary" xPosition="before">
    <ng-template matMenuContent>
        <button mat-menu-item *ngIf="accountType" class="info-item" disabled="true">{{accountType}}</button>
        <mat-divider></mat-divider>
        <button *ngIf="!isUserImpersonated(); else backToAdminButton" mat-menu-item class="logout-button" (click)="logout()">{{ 'navbar.logout' | translate }}</button>
    </ng-template>
</mat-menu>

<ng-template #backToAdminButton>
    <button mat-menu-item class="logout-button" (click)="goBackToAdmin()">{{ 'navbar.go-back-to-admin' | translate }}</button>
</ng-template>