#logo-title {
    height: 24px;
}

#user-button {
    margin-left: 0.25em;
    padding-left: 1em !important;
    padding-right: 1em !important;
    align-items: center;
}


img {
    height: 44px;
    width: auto;
}

.info-item {
    color: black;
}

.language-choose {
    font-size: 0.8em !important;
}

.lang-spacer {
    width: 0.5em;
}

.logout-button {
    color: var(--primary-green);
}

.logo {
    margin-right: 0.5em;
}

.mat-button {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    font-size: 16px;
    color: white;
}

.mat-toolbar {
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
}

.person-icon {
    margin-right: 0.25em;
}

.spacer {
    flex: 1 1 auto;
}


 ::-webkit-scrollbar {
    height: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
}


@media ( min-width: 992px ) {
    ::ng-deep .mat-menu-panel {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 1px !important;
        border-bottom-right-radius: 1px !important;
        min-width: 6em !important;
        max-width: none !important;
    }
    
    ::ng-deep .details-panel {
        min-width: 10em !important;
        width: fit-content;
        margin-top: 14px;
    }

    ::ng-deep .language-panel {
        min-width: 6em;
        margin-top: 14px;
    }
    
    #menu-icon {
        display: none;
    }

    #navbar-langs {
        display: flex;
        align-items: center;
    }

    #navigations { 
        display: flex;
        overflow-x: scroll;
        width: fit-content;
        max-width: 30%;
        padding: 11px;
    }

    #user-button-sidenav {
        display: none;
    }
}

@media (max-width: 767px ) {
    #button-username {
        display: none;
    }

    #navbar-langs {
        display: none;
    }       
    
    #navigations {
        display: none;
    }

    #user-button-menu {
        display: none;
    }
}

@media ( min-width: 768px ) and ( max-width: 991px ) {
    #navbar-langs {
        display: none;
    }  
    
    #navigations {
        display: none;
    }

    #user-button-menu {
        display: none;
    }
}
