<mat-toolbar class="mat-elevation-z4" color="primary">
    <!--LOGO PLACE-->
    <div class="logo">
        <a mat-button (click)="onLogoClick()">
            <span>PARROT</span>
        </a>
    </div>

    <div *ngFor="let link of activeLinks">
        <a mat-button (click)="onNavigationClick(link)">
            <span>{{ link.header }}</span> 
        </a>  
    </div>

    <span class="spacer"></span>

 
    <span class="language-choose">{{ 'navbar.from' | translate }}:</span>
    <a mat-button class="language-choose" [matMenuTriggerFor]="languageFromChoose">
        <span>{{currentLangFrom}}</span>
        <mat-icon>arrow_drop_down</mat-icon>
    </a> 
  
    <span class="lang-spacer"></span>

    <span class="language-choose">{{ 'navbar.to' | translate }}:</span>
    <a mat-button class="language-choose" [matMenuTriggerFor]="languageToChoose">
        <span>{{currentLangTo}}</span>
        <mat-icon>arrow_drop_down</mat-icon>
    </a> 

    <div>
        <a mat-button [matMenuTriggerFor]="userAccount" id="user-button">
            <mat-icon class="person-icon">person</mat-icon>
            <span>{{accountDetails?.username}}</span> 
        </a> 
    </div>

</mat-toolbar>


<mat-menu #userAccount="matMenu" class="details-panel" color="primary">
    <ng-template matMenuContent>
        <button mat-menu-item class="info-item" disabled="true">{{accountDetails?.accountType}}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item class="logout-button">{{ 'navbar.logout' | translate }}</button>
    </ng-template>
</mat-menu>

<mat-menu #languageFromChoose="matMenu" class="language-panel">
    <ng-template matMenuContent>
        <button mat-menu-item *ngFor="let lang of languages?.from" (click)="onLanguageChoose(lang, 'from')">{{lang}}</button>
    </ng-template>
</mat-menu>

<mat-menu #languageToChoose="matMenu" class="language-panel">
    <ng-template matMenuContent>
        <button mat-menu-item *ngFor="let lang of languages?.to" (click)="onLanguageChoose(lang, 'to')">{{lang}}</button>
    </ng-template>
</mat-menu>


<!--
<nav mat-tab-nav-bar class="colorBack">
    <a mat-tab-link *ngFor="let link of links; index as i"
       [href]="link"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{titles[i]}} </a>
  </nav> 
-->
