::ng-deep .mat-menu-panel {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 1px !important;
    border-bottom-right-radius: 1px !important;
    min-width: 6em !important;
    max-width: none !important;
}

::ng-deep .details-panel {
    width: 10em;
    margin-top: 14px;
}

::ng-deep .language-panel {
    min-width: 6em;
    margin-top: 14px;
}

img {
    height: 44px;
    width: auto;
}

#logo-title {
    height: 24px;
}

.mat-toolbar {
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
}

.logo {
    margin-right: 0.5em;
}

.mat-button {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    font-size: 16px;
    color: white;
}

.person-icon {
    margin-right: 0.25em;
}

.spacer {
    flex: 1 1 auto;
}

.info-item {
    color: black;
}

.logout-button {
    color: var(--primary-green);
}

#user-button {
    margin-left: 0.25em;
    padding-left: 1em !important;
    padding-right: 1em !important;
    align-items: center;
}

.language-choose {
    font-size: 16px !important;
}

.lang-spacer {
    width: 0.5em;
}