.margintile { 
     margin-bottom: 1em;
}

.filter-panel {
    background-color: var(--primary-green);
}

.mat-expansion-panel {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.mat-expansion-panel-header-title { 
    align-items: center;
}

.mat-expansion-panel-header {
    padding: 1em;
    font-weight: 100 !important;
}

.mat-expansion-panel-header-title {
    color: white
  }

.apply-button {
    background-color: white;
    height: 2.5em;
}

#option-box {
    display: flex;
    margin-right: 1em;
}

.flex-box {
    display: flex;
}

.settings-button {
    color: white;
}
