<div id="filter-tile-container">
    <!-- TODO: hide on click behind panel-->
    <mat-expansion-panel #tile (expandedChange)="changeArrowIcon()" class="filter-panel" hideToggle>
        <mat-expansion-panel-header collapsedHeight="2.5em" expandedHeight="3em">
            <mat-panel-title>
                <mat-icon *ngIf="!isExpanded">arrow_drop_down</mat-icon>
                <mat-icon *ngIf="isExpanded">arrow_drop_up</mat-icon>
                {{ 'filter-tile.header' | translate }}
            </mat-panel-title>
            <button *ngIf="settings" mat-button class="settings-button" [matMenuTriggerFor]="settings" (click)="onSettings($event)">
                <mat-icon>arrow_drop_down</mat-icon>{{'filter-tile.settings' | translate }}
            </button>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <div id="option-box" class="flex-box">
                <div id="filter-form-content">
                    <ng-content></ng-content>
                </div>
                    <button (click)="onSubmit()" mat-stroked-button color='primary' id="apply-button">{{'filter-tile.submit-button' | translate}}</button>
            </div>
        </ng-template>
        
    </mat-expansion-panel>
</div>