<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div  id="filters-container" class="row">
        <div class="col-sm-12 col-md-6 filter-input-lg">
            <mat-form-field appearance="outline" floatLabel='never' class="filter-input">
                <mat-select disableOptionCentering 
                            [placeholder]="'quiz-filter-form.label' | translate" 
                            panelClass="bottom-position-filter bottom-position-filter-first" 
                            formControlName="labels" 
                            multiple>                 
                    <mat-select-trigger>
                        <span *ngFor="let label of labels?.value; let i = index">
                            {{label.labelName}}<span *ngIf="i != labels!.value!.length - 1">, </span>
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let label of Labels" [value]="label">
                        <span><mat-icon id="option-icon" [style.color]="label.colorCode">label</mat-icon></span>
                         {{label.labelName}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
        <div class="col-sm-12 col-md-6 filter-input-lg">
            <mat-form-field appearance="outline" floatLabel='never' class="filter-input">
                <mat-select disableOptionCentering 
                            [placeholder]="'quiz-filter-form.type' | translate" 
                            panelClass="bottom-position-filter" 
                            formControlName="wordTypes" 
                            multiple>                 
                    <mat-option *ngFor="let type of Types" [value]="type.id">
                        {{type.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
    </div>
</form>

