<div *ngIf="!isLoadingPage; else spinner" class="page">
    <app-filter-tile>
        <app-users-filter-form #filterForm (filterApplied)="applyFilter($event)"></app-users-filter-form>
    </app-filter-tile>

    <div *ngIf="!isLoadingList; else spinner">

        <div class="row page-row">
            <div class="col-1"></div>  
            <div class="col-10">
                <mat-card class="margin-tile list-header">
                    <div class="row">
                        <div class="col-3">{{ 'users-list.username' | translate }}</div>
                        <div class="col-4">{{ 'users-list.email' | translate }}</div>
                        <div class="col-2">{{ 'users-list.account-state.header' | translate }}</div>
                    </div>
                </mat-card>

                <div *ngFor="let userDetails of usersList">
                    <app-user-tile [user]="userDetails"></app-user-tile>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #spinner>
    <div class='spinner'>
      <mat-spinner></mat-spinner>
    </div>
</ng-template>