<div class="margintile">
    <mat-expansion-panel [expanded]="isExpanded" hideToggle>
        <mat-expansion-panel-header collapsedHeight="2.5em">
            <mat-panel-title>
                <span *ngIf="isActive(); else termName"> {{ 'translation-tile.default-header.add' | translate }}</span>
                <ng-template #termName>
                    <span> {{ term?.value }}</span>
                </ng-template>
            </mat-panel-title>
            <app-tile-actions-bar *ngIf="!isActionBarHidden()" [options]="tileOptions" (selectedAction)="onActionSelect($event)"></app-tile-actions-bar>
            <div class="status-info">
                <app-status-info *ngIf="isSubmitted()" [status]="getTileStateStatus()"></app-status-info>
            </div>
        </mat-expansion-panel-header>
        
        <form [formGroup]="translationForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <div class="center-block">
                        <mat-form-field class="input">
                            <mat-label>{{ 'translation-tile.term' | translate }}</mat-label>
                            <input type="text" matInput formControlName="term">
                            <mat-error *ngIf="translationForm.get('term')?.hasError('required')">
                                {{ 'translation-tile.required-error' | translate }}
                            </mat-error> 
                        </mat-form-field> 

                        <mat-form-field class="input">
                            <mat-label>{{ 'translation-tile.translation' | translate }}</mat-label>
                            <input type="text" matInput formControlName="translation">
                            <mat-error *ngIf="translationForm.get('translation')?.hasError('required')">
                                {{ 'translation-tile.required-error' | translate }}
                            </mat-error> 
                        </mat-form-field> 
                    </div>
                </div>
           
                <div class="col">
                    <div class="center-block">
                        <mat-form-field class="input">
                            <mat-label>{{ 'translation-tile.type' | translate }}</mat-label>    
                            <mat-select disableOptionCentering panelClass="bottom-position" formControlName="type">                 
                                <mat-option *ngFor="let type of Types" [value]="type.id">
                                    {{type.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="translationForm.get('type')?.hasError('required')">
                                {{ 'translation-tile.required-error' | translate }}
                            </mat-error> 
                        </mat-form-field> 
                    
                        <mat-form-field class="input">
                            <mat-label>{{ 'translation-tile.description' | translate }}</mat-label>
                            <textarea type="text" matInput cdkTextareaAutosize formControlName="description"></textarea>
                        </mat-form-field> 
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isActive() || (isSubmitted() && getTileStateStatus()!='successful'); else labelsList">
                <div class="col">
                    <div class="center-block">
                        <mat-form-field class="input">
                            <mat-label>{{ 'translation-tile.label' | translate }}</mat-label>    
                            <mat-select disableOptionCentering panelClass="bottom-position-multiple" formControlName="labels" multiple>                 
                                <mat-select-trigger>
                                    <span *ngFor="let label of findSelectedLabels(); let i = index">
                                        {{label.labelName}}<span *ngIf="i != labels!.value!.length - 1">, </span>
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let label of Labels" [value]="label.labelId">
                                    <span><mat-icon id="option-icon" [style.color]="label.colorCode">label</mat-icon></span>
                                    {{label.labelName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> 
                    </div>
                </div>
                <div class="col">
                    <div id="empty-col"></div>
                </div>
            </div>
            <div class="center-content">
                <button mat-raised-button *ngIf="!isBtnHidden()" color="primary" type="submit" class="submit-button">{{ 'translation-tile.button.add' | translate }}</button> 
            </div>
        </form>
    </mat-expansion-panel>
</div>

<ng-template #labelsList >
    <div *ngIf="content.labels && content.labels.length > 0 " class="row">
        <div class="col">
            <div class="center-block">
                <div class="label">
                    <span>{{ 'translation-tile.label' | translate }}</span>
                </div>
                <!-- <div *ngIf="content.labels!.length <= 5; else scrollList" class="labels-content"> -->
                <div class="labels-content">    
                    <div *ngFor="let label of content.labels" >
                        <div class="flex-box">
                            <span><mat-icon id="option-icon" [style.color]="label.colorCode">label</mat-icon></span>
                            <div [style.opacity]="label.inherited ? 0.5 : 0.75">
                                {{label.labelName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="empty-col"></div>
        </div>
    </div>
</ng-template>