<div *ngIf="!isLoadingPage; else spinner" class="page">
  <app-filter-tile>
    <app-translations-filter-form #filterForm (filterApplied)="applyFilter($event)"></app-translations-filter-form>
  </app-filter-tile>

  <div *ngIf="!isLoadingList; else spinner">
    
      <div class="row page-row">
        <div class="col"></div>  
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
          <mat-accordion multi="false">
            <app-add-translations #addedTiles></app-add-translations>

            <div *ngFor="let word of wordList">
              <app-found-translation-tile (removeEvent)="deleteTile($event)" (duplicateFormValues)="fillAdditionTile($event)" [content]="word"></app-found-translation-tile>
            </div>
          </mat-accordion>

          <div *ngIf="hasMore">
            <div *ngIf="!isFetchingMoreWords; else smallSpinner" class="load-more">
              <button mat-button color="primary" id='load-more-btn' (click)="loadMoreWords()">{{ 'translations-page.load-more' | translate }}</button>
            </div>
          </div>
        
        </div>
        <div class="col">
          <!-- <button mat-raised-button color="primary" (click)="clearAdditionHistory()">Clear addition history</button> -->
        </div>
      </div>
  </div>
</div>


<ng-template #spinner>
  <div class='spinner'>
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #smallSpinner>
  <div class='spinner' id="small-spinner">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
</ng-template>