::ng-deep .mat-form-field-required-marker {
    display: none
}

::ng-deep .bottom-position {
    margin-top: 1.7em;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: 16px;
    min-width: 100% !important;
}

::ng-deep .bottom-position-multiple {
    margin-top: 1.8em;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: 40px;
    min-width: 100% !important;
}

.center-content { 
    display: flex;
    justify-content: center;
    text-align: center;
}

.flex-box {
    display: flex;
}

.margintile { 
    margin-top: 0.5em;
    width: 100%;
}

.mat-expansion-panel {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    align-items: center !important;
}

.input {
    width: 100%;
    margin-bottom: 1em;
}

.submit-button {
    margin-top: 1em;
    width: 100%;
}

.term {
    margin-top: 1em;
}

.tile-col {
    padding-left: 5%;
    padding-right: 5%;
}


