.router-container {
    width: 100%;
    //padding-top: 0.5em;
    padding-bottom: 1em;
    overflow: overlay;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media ( max-width: 599px ) {
    #router-top-position {
        top: 55px;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none !important;
    }   
}

@media ( min-width: 600px ) and ( max-width: 1251px ) {
    #router-top-position {
        top: 63px;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    
    ::-webkit-scrollbar-track {
        background: gainsboro;
        border-radius: 8px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: var(--primary-green);
        border-radius: 8px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: var(--secondary-green);
    }
}

@media ( min-width: 1252px ) {
    #router-top-position {
        top: 64px;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    
    ::-webkit-scrollbar-track {
        background: gainsboro;
        border-radius: 8px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: var(--primary-green);
        border-radius: 8px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: var(--secondary-green);
    }
}
