.router-container {
    width: 100%;
    top: 64px;
    //padding-top: 0.5em;
    padding-bottom: 1em;
    overflow: auto;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

 /* Designing for scroll-bar */
 ::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-green);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-green);
}

