.row { 
    width: 100%;
}

.col-8 {
    padding-left: 5em;
    padding-right: 5em;
}

.page { 
    height: calc( 100% - 5em );
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#option-icon {
    margin-right: 0;
}


::ng-deep .mat-menu-submenu-icon {
    display: none;
 }