<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div id="filters-container" class="row">
        <div class="col-sm-12 col-md-6 filter-input-lg">
            <mat-form-field appearance="outline" floatLabel='never' class="filter-input">
                <mat-select disableOptionCentering 
                            [placeholder]="'users-filter-form.users' | translate" 
                            panelClass="bottom-position-filter bottom-position-filter-first" 
                            formControlName="users"          
                            multiple>                 
                    <mat-option *ngFor="let user of Users" [value]="user.userId">
                        {{user.username}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
        <div id="radio-input-box" class="col-sm-12 col-md-6 filter-input-lg" (keyup.enter)="onEnterSubmit()">
            <div class="radio-group-container">
                <div class="col-4 radio-container">
                <input  type="radio" 
                        id="stateChoice1" 
                        class="custom-radio" 
                        formControlName="accountState" 
                        [value]="States.Active" />
                <label for="stateChoice1" class="radio-label">{{ 'users-filter-form.account-state.active' | translate }}</label>
                </div>
                <div class="col-4 radio-container">
                <input  type="radio" 
                        id="contactChoice2" 
                        class="custom-radio"
                        formControlName="accountState" 
                        [value]="States.Disabled" />
                <label for="stateChoice2" class="radio-label">{{ 'users-filter-form.account-state.disabled' | translate }}</label>
                </div>
                <div class="col-4 radio-container">
                <input  type="radio" 
                        id="contactChoice3" 
                        class="custom-radio"
                        formControlName="accountState" 
                        [value]=null />
                <label for="stateChoice3" class="radio-label">{{ 'users-filter-form.account-state.all' | translate }}</label>
                </div>
            </div>
        </div>
    </div>
</form>