.success-icon {
    color: var(--primary-green);
  }
  
.failed-icon {
    color: var(--error);
}

.status-icon {
  align-self: end;
  height: 100%;
  align-items: center !important;
  display: flex;
}