.impersonate-button {
    line-height: 2em;
}

.i-button-container {
    min-width: 9em;
    min-height: 2em;
    float: right;
    display: flex;
    align-items: center;
}

.margin-tile { 
    margin-top: 0.5em;
    width: 100%;
}

.user-content {
    align-items: center;
}

.state-col {
    min-width: fit-content;
}

.impersonate-spinner {
    margin-left: auto;
    margin-right: auto;
}