#impersonate-button {
    line-height: 2em;
    float: right;
}

.margin-tile { 
    margin-top: 0.5em;
    width: 100%;
}

.user-content {
    align-items: center;
}

.state-col {
    min-width: fit-content;
}