<div class="margintile">
    <!-- TODO: hide on click behind panel-->
    <mat-expansion-panel #tile (expandedChange)="changeArrowIcon()" class="filter-panel" hideToggle>
        <mat-expansion-panel-header collapsedHeight="2.5em" expandedHeight="3em">
            <mat-panel-title>
                <!--ARROW ICON-->
                <mat-icon *ngIf="!isExpanded">arrow_drop_down</mat-icon>
                <mat-icon *ngIf="isExpanded">arrow_drop_up</mat-icon>
                {{ 'filter-tile.header' | translate }}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <div class="option-box">
                <div>
                    <ng-content></ng-content>
                </div>
                <div>
                    <button (click)="onSubmit()" mat-stroked-button color='primary' class="apply-button">{{'filter-tile.submit-button' | translate}}</button>
                </div>
            </div>
        </ng-template>
        
    </mat-expansion-panel>
</div>