<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="filters-container">
        <div class="filter-input-box">
            <mat-form-field appearance="outline" floatLabel='never' class="filter-input">
                <input  matInput 
                        type="text" 
                        [placeholder]="'translations-filter-form.lang-from' | translate" 
                        formControlName="fromLang" 
                        [matAutocomplete]="autoFrom">
                <mat-autocomplete #autoFrom="matAutocomplete" class="auto-position" classList="auto-position">
                    <mat-option *ngFor="let hint of filteredWordFromHints | async" [value]="hint">
                        {{hint}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field> 
        </div>

        <div class="filter-input-box">
            <mat-form-field appearance="outline" floatLabel='never' class="filter-input">
                <input  matInput 
                        type="text" 
                        [placeholder]="'translations-filter-form.lang-to' | translate" 
                        formControlName="toLang"
                        [matAutocomplete]="autoTo">
                    <mat-autocomplete #autoTo="matAutocomplete" class="auto-position" classList="auto-position">
                        <mat-option *ngFor="let hint of filteredWordToHints | async" [value]="hint">
                            {{hint}}
                        </mat-option>
                    </mat-autocomplete>
            </mat-form-field> 
        </div>

        <div class="filter-input-box">
            <mat-form-field appearance="outline" floatLabel='never' class="filter-input">
                <mat-select disableOptionCentering [placeholder]="'translations-filter-form.types' | translate" panelClass="bottom-position-filter" formControlName="types" multiple>                 
                    <mat-option *ngFor="let type of Types" [value]="type.id">
                        {{type.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>

        <div class="filter-input-box">
            <mat-form-field appearance="outline" floatLabel='never' class="filter-input">
                <mat-select disableOptionCentering [placeholder]="'translations-filter-form.labels' | translate" panelClass="bottom-position-filter" formControlName="labels" multiple>                 
                    <mat-select-trigger>
                        <span *ngFor="let label of labels?.value; let i = index">
                            {{label.labelName}}<span *ngIf="i != labels!.value!.length - 1">, </span>
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let label of Labels" [value]="label">
                    <span><mat-icon id="option-icon" [style.color]="'#'.concat(label.colorCode)">label</mat-icon></span>
                        {{label.labelName}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
    </div>
</form>
