/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './color_variables.scss';
@import './app/components/shared/error-toast/error-toast-panel.scss';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Hahmlet', serif;
    background-color: var(--body-background);
}
