@import '@angular/material/theming';
@include mat-core();

$parrot-ui-primary: mat-palette($mat-light-green, 900);
$parrot-ui-accent:  mat-palette(/*$mat-lime, 600*/ $mat-light-green, 900);

$parrot-ui-theme: mat-light-theme($parrot-ui-primary, $parrot-ui-accent);
@include angular-material-theme($parrot-ui-theme);

$custom-typography: mat-typography-config($font-family: '"Roboto Mono"');
@include mat-core($custom-typography);