<div class="margintile" *ngIf="!showDeleteMessage">
    <mat-expansion-panel [expanded]="isExpanded" hideToggle>
            <mat-expansion-panel-header collapsedHeight="2.5em">
                <mat-panel-title>
                     <span> {{ name?.value }}</span>
                </mat-panel-title>

                <app-tile-actions-bar *ngIf="!isActionBarHidden()" [options]="tileOptions" (selectedAction)="onActionSelect($event)"></app-tile-actions-bar>
                <div class="status-info">
                    <app-status-info *ngIf="getTileStateStatus()" [status]="getTileStateStatus()"></app-status-info>
                </div>
                <button *ngIf="isActive()" mat-button color="primary" (click)="discardChanges($event)">{{ 'label-tile.button.cancel' | translate }}</button>            
            </mat-expansion-panel-header>

        <form [formGroup]="labelForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <div class="center-block">
                        <mat-form-field class="input">
                            <mat-label>{{ 'label-tile.name' | translate }}</mat-label>
                            <input type="text" matInput formControlName="name">
                            <mat-error *ngIf="labelForm.get('name')?.hasError('required')">
                                {{ 'label-tile.required-error' | translate }}
                            </mat-error> 
                        </mat-form-field> 

                        <mat-form-field class="input" *ngIf="isActive() || (isSubmitted() && getTileStateStatus()!='successful'); else labelsList">
                            <mat-label>{{ 'label-tile.parent' | translate }}</mat-label>    
                            <mat-select disableOptionCentering panelClass="bottom-position" formControlName="parent">   
                                <mat-select-trigger>
                                    <span>
                                        {{findSelectedLabel()?.labelName ?? ''}}
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let label of Labels" [value]="label.labelId">
                                    <span><mat-icon id="option-icon" [style.color]="label.colorCode">label</mat-icon></span>
                                    {{label.labelName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> 
                    </div>
                </div>
                <div class="col">
                    <div class="center-block">
                        <div id="color-input" class="input">
                            <label class="label">{{ 'label-tile.color' | translate }}</label>
                            <div ngx-colors-trigger
                                 class="color-info"
                                 [style.background]="colorCode?.value"
                                 [hideTextInput]="true"
                                 formControlName="colorCode">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="center-content">
                <button mat-raised-button *ngIf="!isBtnHidden()" color="primary" type="submit" class="submit-button">{{ 'label-tile.button.edit' | translate }}</button> 
            </div>
        </form>
    </mat-expansion-panel>
</div>

<div class="margintile" *ngIf="showDeleteMessage">
    <app-delete-label-confirmation [msgParam]="{value: name?.value ?? ''}"  [tileStatus]="getTileStateStatus()" (confirmation)="deleteConfirmed($event)"></app-delete-label-confirmation>
</div>

<ng-template #labelsList >
    <div class="parent-label" *ngIf="content.parentLabels && content.parentLabels.length > 0">
        <span>{{ 'label-tile.parent' | translate }}</span>
    </div>
    <!-- <div *ngIf="content.labels!.length <= 5; else scrollList" class="labels-content"> -->
    <div class="parents-content"> 
        <div *ngFor="let label of content.parentLabels">
            <div class="flex-box">
                <span><mat-icon id="option-icon" [style.color]="label.colorCode">label</mat-icon></span>
                <div [style.opacity]="label.inherited ? 0.5 : 0.75">
                    {{label.labelName}}
                </div>
            </div>
        </div>
    </div>
</ng-template>