#dialog-username {
    font-weight: bold;
}

#confirm-actions {
    float: right;
}

h3.mat-dialog-title {
    font-weight: bold;
}

div.mat-dialog-actions button {
    line-height: 2em;
    min-width: 6em;
}