 .auth-card {
    box-shadow: 5px 8px 12px rgba(0,0,0,0.4);
    border-radius: 8px;
    background-color: white;
    height: 90%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.auth-card-content {
    display: flex;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    
}

.auth-form-container {
    display: flex;
    width: 40%;
    overflow-y: auto;
}

.card-container {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    overflow: auto;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    background-color:  var(--primary-green);
    box-shadow: inset 1px 1px 150px var(--secondary-green);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    width: 60%;
    height: fit-content;
    min-height: 100%;
}

.img-container {
    width: 100%;
    margin: 5%;
}

.title-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#title {
    max-width: 60%;
}

img {
    display: flex;
    width: 100%;
}

 /* Designing for scroll-bar */
 ::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-green);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-green);
}
