<div class="center-content card-container">
    <div class="auth-card">
        <div class="auth-card-content">
            <div class="center-content logo-container">
                <div class="img-container">
                    <img src="..\..\assets\img\logo.png" alt="logo">
                    <div class="title-container center-content">
                        <img id="title" src="..\..\assets\img\parrot_title.png" alt="title">
                    </div> 
                </div>
            </div>
            <div class="center-content auth-form-content">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>
